<template>
  <modal
    v-if="isVisible"
    :closeModal="closeModal">
    <div class="Modal-header">
      <h3>Add social network</h3>
    </div>
    <div class="Modal-body">
      <flash-message-error></flash-message-error>
      <flash-message-success></flash-message-success>

      <div class="row">
        <form class="Form-add-social-network col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="accountName" type="text" class="validate" v-model="form.accountName" required="required">
              <label for="accountName">Account name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <v-select name="selectAccountType"
                        id="selectAccountType"
                        required="required"
                        :items="items"
                        :selectText="selectText"
                        v-model="form.accountType"
              ></v-select>
              <label for="selectAccountType"></label>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="Modal-footer">
      <button class="Modal-validate-button waves-effect waves-light btn" @click="addSocialNetwork">
        Add
      </button>
    </div>
  </modal>
</template>

<script>
  import Modal from './Modal'
  import FlashMessageError from '../FlashMessage/FlashMessageError'
  import FlashMessageSuccess from '../FlashMessage/FlashMessageSuccess'
  import { TOGGLE_ADD_SOCIAL_NETWORK_MODAL, ADD_SOCIAL_NETWORK } from '../../store/modules/modals/types'
  import { TOGGLE_FLASH_MESSAGE_ERROR, SET_FLASH_MESSAGE_ERROR, TOGGLE_FLASH_MESSAGE_SUCCESS, SET_FLASH_MESSAGE_SUCCESS } from '../../store/modules/flashMessage/types'
  import { FETCH_USER_FROM_DATABASE, LOGIN_TO_FACEBOOK } from '../../store/modules/user/types'

  export default {
    name: 'AddSocialNetworkModal',
    data () {
      return {
        items: [
          { id: 'facebook', text: 'Facebook', realID: 0 },
          { id: 'twitter', text: 'Twitter', realID: 1 },
          { id: 'instagram', text: 'Instagram', realID: 2 }
        ],
        selectText: 'Social network type',
        form: {
          accountName: '',
          accountType: ''
        },
        errorMessage: 'Account name or account type is not valid',
        successMessage: 'Your social network was added with success',
        fbAccessToken: null,
        fbUserID: null
      }
    },
    components: {
      FlashMessageSuccess,
      Modal,
      FlashMessageError
    },
    computed: {
      isVisible () {
        return this.$store.state.modals.addSocialNetwork
      },
      isValid () {
        return !(this.form.accountName.length === 0 || this.form.accountName.length > 20 || this.form.accountType.length === 0)
      },
      userHasAlreadyOneFBAccount () {
        return this.$store.state.user.currentUser.hasOneFBAccount
      }
    },
    methods: {
      closeModal () {
        this.resetData()
        this.$store.commit(TOGGLE_ADD_SOCIAL_NETWORK_MODAL)
      },
      resetData () {
        Object.assign(this.$data, this.$options.data()) // this allow us to reset default data like above
      },
      displayFlashMessage (error, message) {
        if (error) {
          this.$store.commit(SET_FLASH_MESSAGE_ERROR, message)
          this.$store.commit(TOGGLE_FLASH_MESSAGE_ERROR)
        } else {
          this.$store.commit(SET_FLASH_MESSAGE_SUCCESS, message)
          this.$store.commit(TOGGLE_FLASH_MESSAGE_SUCCESS)
        }
      },
      addSocialNetwork () {
        // if the formData are valid
        if (this.isValid) {
          // if it's a facebook account
          if (this.form.accountType === 'facebook') {
            // if user has never add a facebook account
            if (!this.userHasAlreadyOneFBAccount) {
              // we call LOGIN_TO_FACEBOOK action in order to get required keys, to stock them later
              this.$store.dispatch(LOGIN_TO_FACEBOOK, (response) => {
                console.log(response)
                // if connection is established
                if (response.status === 'connected') {
                  // we get required fb accessToken and fb userID
                  this.fbAccessToken = response.authResponse.accessToken
                  this.fbUserID = response.authResponse.userID
                  // and passed them, with all others infos like formData and userID, to ADD_SOCIAL_NETWORK action to complete the add
                  this.$store.dispatch(ADD_SOCIAL_NETWORK, {
                    formData: this.form,
                    user: this.$store.state.user.currentUser,
                    rsCredentials: {
                      fbAccessToken: this.fbAccessToken,
                      fbUserID: this.fbUserID
                    }
                  })
                  // TODO: check for other method because logout invalid the accessToken
                  // then, we forced to logout the user from fb (like this, we can connect again with an other account)
                  //                  .then(() => {
                  //                    /* eslint-disable */
                  //                    FB.logout((response) => {
                  //                      console.log(response)
                  //                    })
                  //                    /* eslint-enable */
                  //                  })
                    // then, we call FETCH_USER_FROM_DATABASE in order to actualize the list of social network accounts and display flashMessageSuccess after 4 secondes
                    .then(() => {
                      this.$store.dispatch(FETCH_USER_FROM_DATABASE, this.$store.state.user.currentUser.id)
                      this.displayFlashMessage(false, this.successMessage)
                      setTimeout(() => {
                        this.closeModal()
                      }, 4000)
                      Promise.resolve()
                    })
                    // if error, we display a flashMessage with the error message
                    .catch((error) => {
                      console.error(error)
                      this.displayFlashMessage(true, error.message)
                      Promise.reject()
                    })
                } else {
                  console.error('Error : LOGIN_TO_FACEBOOK doesn\'t work')
                }
              })
            } else {
              this.errorMessage = 'You have already add a FB account'
              this.displayFlashMessage(true, this.errorMessage)
            }
          }

          // if it's a twitter account
          if (this.form.accountType === 'twitter') {
            // TODO: LOGIN_TO_TWITTER action
            console.log('accountType = ' + this.form.accountType)
            console.log('todo LOGIN_TO_TWITTER')
            this.$store.dispatch(ADD_SOCIAL_NETWORK, {
              formData: this.form,
              user: this.$store.state.user.currentUser
            })
            this.displayFlashMessage(false, this.successMessage)
            setTimeout(() => {
              this.closeModal()
            }, 4000)
          }

          // if it's a instagram account
          if (this.form.accountType === 'instagram') {
            // TODO: LOGIN_TO_INSTAGRAM action
            console.log('accountType = ' + this.form.accountType)
            console.log('todo LOGIN_TO_INSTAGRAM')
            this.$store.dispatch(ADD_SOCIAL_NETWORK, {
              formData: this.form,
              user: this.$store.state.user.currentUser
            })
            this.displayFlashMessage(false, this.successMessage)
            setTimeout(() => {
              this.closeModal()
            }, 4000)
          }
        } else {
          if (this.form.accountName.length > 20) {
            this.errorMessage = 'Account name should be less long than 20 characters'
          }
          this.displayFlashMessage(true, this.errorMessage)
        }
      }
    }
  }
</script>

<style scoped>
  .Modal-header h3 {
    text-align: center;
  }
  .Modal-body {
    margin: 20px 0;
  }
  .Modal-validate-button {
    float: right;
    margin-right: 20px;
  }
</style>
