<template>
  <modal
    v-if="isVisible"
    :closeModal="closeModal">
    <div class="Modal-header">
      <h3>Post a message</h3>
    </div>
    <div class="Modal-body">
      <flash-message-error></flash-message-error>
      <flash-message-success></flash-message-success>

      <div class="row">
        <form action="#">
          <li v-for="socialNetwork in userSocialNetworks" class="checkboxSocialNetwork col s3">
            <p>
              <input type="checkbox" :id="socialNetwork.id" @click="socialNetworkToggle(socialNetwork)"/>
              <label :for="socialNetwork.id"> {{ socialNetwork.name }} </label>
            </p>
          </li>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea" v-model="postMessage" maxlength="140"></textarea>
              <label for="icon_prefix2">Message</label>
            </div>
            <button class="Modal-validate-button waves-effect waves-light btn" @click.prevent="createPost()">
              Post
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="Modal-footer">
    </div>
  </modal>
</template>

<script>
  import Modal from './Modal'
  import FlashMessageError from '../FlashMessage/FlashMessageError'
  import FlashMessageSuccess from '../FlashMessage/FlashMessageSuccess'
  import { TOGGLE_CREATE_POST_MODAL, PUBLISH_POST_ON_FB } from '../../store/modules/modals/types'
  import { CHECK_USER_LOGGED_IN_FACEBOOK } from '../../store/modules/user/types'
  import { TOGGLE_FLASH_MESSAGE_ERROR, SET_FLASH_MESSAGE_ERROR, TOGGLE_FLASH_MESSAGE_SUCCESS, SET_FLASH_MESSAGE_SUCCESS } from '../../store/modules/flashMessage/types'

  export default {
    name: 'CreatePostModal',
    data () {
      return {
        errorMessage: '',
        successMessage: '',
        postMessage: ''
      }
    },
    components: {
      FlashMessageSuccess,
      Modal,
      FlashMessageError
    },
    computed: {
      isVisible () {
        if (this.$store.state.modals.createPost) {
          this.checkUserLoggedInFB()
        }
        return this.$store.state.modals.createPost
      },
      formIsValid () {
        return !(this.postMessage.length === 0)
      },
      userSocialNetworks () {
        let temp = this.$store.state.user.currentUser.social_networks
        Object.keys(temp).forEach(key => {
          temp[key].active = false   // the value of the current key.
        })
        return temp
      }
    },
    methods: {
      closeModal () {
        this.resetData()
        this.$store.commit(TOGGLE_CREATE_POST_MODAL)
      },
      resetData () {
        Object.assign(this.$data, this.$options.data()) // this allow us to reset default data like above
      },
      displayFlashMessage (error, message) {
        if (error) {
          this.$store.commit(SET_FLASH_MESSAGE_ERROR, message)
          this.$store.commit(TOGGLE_FLASH_MESSAGE_ERROR)
        } else {
          this.$store.commit(SET_FLASH_MESSAGE_SUCCESS, message)
          this.$store.commit(TOGGLE_FLASH_MESSAGE_SUCCESS)
        }
      },
      createPost () {
        // first, we add in an array all object selected by checkbox
        let checkedSocialNetwork = []
        Object.keys(this.userSocialNetworks).forEach(key => {
          if (this.userSocialNetworks[key].active === true) {
            checkedSocialNetwork.push(this.userSocialNetworks[key])
          }
        })

        // then, if this array is not empty and if the form is valid (text is not empty also)
        if (checkedSocialNetwork.length > 0 && this.formIsValid) {
          let targetURL

          // for each object selected
          for (let i = 0; i < checkedSocialNetwork.length; i++) {
            // if it's a facebook account
            if (checkedSocialNetwork[i].type === 'facebook') {
              // we construct the targetURL for the api call
              targetURL = '/' + checkedSocialNetwork[i].fbUserID + '/feed'
              console.log(targetURL)

              // we call the publish action for facebook in order to publish the post message
              this.$store.dispatch(PUBLISH_POST_ON_FB, {
                postMessage: this.postMessage,
                targetURL: targetURL,
                callBack: (response) => {
                  // if it happened an error, we display flashMessageError
                  if (response.error) {
                    this.errorMessage = 'Sorry, we couldn\'t publish your post message'
                    this.displayFlashMessage(true, this.errorMessage)
                    console.error('Error : ' + response.error.message)
                  // else, we display flashMessageSuccess and close the modal after 4 secondes
                  } else {
                    this.successMessage = 'Your post was successfully published'
                    this.displayFlashMessage(false, this.successMessage)
                    setTimeout(() => {
                      this.closeModal()
                    }, 4000)
                  }
                }
              })
            }
          }
        } else {
          if (!this.formIsValid) {
            this.errorMessage = 'You have to write some text before publish'
          } else {
            this.errorMessage = 'You have to select at least one social network'
          }
          this.displayFlashMessage(true, this.errorMessage)
        }
      },
      socialNetworkToggle (value) {
        value.active = !value.active
      },
      checkUserLoggedInFB () {
        this.$store.dispatch(CHECK_USER_LOGGED_IN_FACEBOOK, (response) => {})
      }
    }
  }
</script>

<style scoped>
  .Modal-header h3 {
    text-align: center;
  }
  .Modal-body {
    margin: 20px 0;
    /*overflow-y: visible;*/
  }
  .Modal-validate-button {
    float: right;
    margin-right: 20px;
  }
  .checkboxSocialNetwork{
    list-style: none;
    /*display: inline-block;*/
  }
</style>
