<template>
  <transition name="Modal">
    <div class="Modal-mask">
      <div class="Modal-wrapper">
        <div class="Modal-container">
          <button @click="closeModal" class="Modal-close">
            <svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.827 1.357L17.12.65 8.99 8.782.856.65l-.707.707L8.28 9.49.15 17.62l.707.708 8.132-8.132 8.13 8.132.705-.707-8.13-8.13" fill="#26a69a"/>
            </svg>
          </button>

          <slot></slot>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'Modal',
    props: ['closeModal']
  }
</script>

<style scoped>
  .Modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .Modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .Modal-container {
    width: 70%;
    min-height: 40%;
    margin: 0 auto;
    padding: 70px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .Modal-close {
    float: right;
    margin-right: 20px;
    margin-top: -40px;
    border: none;
    background-color: transparent;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .Modal-enter {
    opacity: 0;
  }

  .Modal-leave-active {
    opacity: 0;
  }

  .Modal-enter .Modal-container,
  .Modal-leave-active .Modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
