<template>
  <div class="Board">
    <div class="Board-container col s12">
      <!--<button class="Board-post-button waves-effect waves-light btn-large col s12">-->
        <!--Add post-->
      <!--</button>-->
      <div class="Board-empty-message" v-if="!socialNetworks">You haven't added social network yet !</div>
      <list-card v-for="socialNetwork in socialNetworks" :key="socialNetwork.id" :type="socialNetwork.type" :objectRs="socialNetwork"></list-card>
    </div>
    <div class="fixed-action-btn" v-if="socialNetworks">
      <a class="create-post btn-floating btn-large red" @click="createPost">
        <i class="large material-icons">mode_edit</i>
      </a>
    </div>

  </div>
</template>

<script>
  import FlashMessageSuccess from '../FlashMessage/FlashMessageSuccess'
  import ListCard from '../Cards/ListCard'
  import { TOGGLE_CREATE_POST_MODAL } from '../../store/modules/modals/types'
  import { FETCH_USER_POSTS_FROM_FACEBOOK } from '../../store/modules/user/types'

  export default {
    name: 'Board',
    data () {
      return {
        fbSocialNetwork: []
      }
    },
    components: {
      FlashMessageSuccess,
      ListCard
    },
    computed: {
      socialNetworks () {
        return this.$store.state.user.currentUser.social_networks
      }
    },
    methods: {
      createPost () {
        this.$store.commit(TOGGLE_CREATE_POST_MODAL)
      },
      hasFBOnSocialNetworks () {
        let temp = []
        Object.keys(this.socialNetworks).forEach(key => {
          if (this.socialNetworks[key].type === 'facebook') {
            temp.push(this.socialNetworks[key])
          }
        })

        this.fbSocialNetwork = temp
      }
    },
    created () {
      this.hasFBOnSocialNetworks()

      if (this.fbSocialNetwork.length > 0) {
//        console.log(this.fbSocialNetwork)

        let targetURL
        targetURL = '/' + this.fbSocialNetwork[0].fbUserID + '/feed'
        this.$store.dispatch(FETCH_USER_POSTS_FROM_FACEBOOK, {
          accessToken: this.fbSocialNetwork.fbAccessToken,
          targetURL: targetURL,
          callBack: (response) => {
            console.log(response)
          }
        })
      }
    }
  }
</script>

<style scoped>
  .Board {
    margin-left: 60px;

  }
  .Board-container {
    min-height: 100vh;
    max-height: 100vh;
    padding: 0 0.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .Board-post-button {
    margin-top: 10px;
  }
  .Board-empty-message {
    text-align: center;
  }

  .create-post{
    width: 80.5px;
    height: 80.5px;
  }

  .create-post:hover{
    opacity: 0.8;
  }

  .create-post i{
    font-size: xx-large;
    line-height: 80.5px;
  }
</style>
