<template>
  <div class="FlashMessage">
    <div class="FlashMessage-container">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FlashMessage'
  }
</script>

<style scoped>

</style>
