<template>
  <transition v-if="display" name="fade">
    <flash-message>
      <div class="FlashMessage-wrapper--success green lighten-1">
        <button class="FlashMessage-close" @click="closeFlashMessage">
          <svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg"><path d="M17.827 1.357L17.12.65 8.99 8.782.856.65l-.707.707L8.28 9.49.15 17.62l.707.708 8.132-8.132 8.13 8.132.705-.707-8.13-8.13" fill="#FFF"></path></svg>
        </button>
        <p class="white-text center">{{ message }}</p>
      </div>
    </flash-message>
  </transition>
</template>

<script>
  import FlashMessage from './FlashMessage'
  import { TOGGLE_FLASH_MESSAGE_SUCCESS, SET_FLASH_MESSAGE_SUCCESS } from '../../store/modules/flashMessage/types'

  export default {
    name: 'FlashMessageSuccess',
    components: {
      FlashMessage
    },
    computed: {
      display () {
        return this.$store.state.flashMessage.success
      },
      message () {
        return this.$store.state.flashMessage.successMessage
      }
    },
    methods: {
      closeFlashMessage () {
        this.$store.commit(TOGGLE_FLASH_MESSAGE_SUCCESS)
        this.$store.commit(SET_FLASH_MESSAGE_SUCCESS, '')
      }
    },
    updated () {
      if (this.display) {
        setTimeout(() => {
          if (this.$store.state.flashMessage.success) {
            this.$store.commit(TOGGLE_FLASH_MESSAGE_SUCCESS)
            this.$store.commit(SET_FLASH_MESSAGE_SUCCESS, '')
          }
        }, 5000)
      }
    }
  }
</script>

<style scoped>
  .FlashMessage-wrapper--success {
    min-height: 3.5em;
    line-height: 3.5em;
    font-size: 18px;
  }
  .FlashMessage-close {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    border: none;
    background-color: transparent;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }
</style>
