<template>
  <div class="FacebookCard">
    <div class="col s12">
      <div class="FacebookCard-horizontal">
        <div class="FacebookCard-title">
          <img src="http://lorempixel.com/50/50">
          <div class="post-user-info">
            <span class="pseudo">Pseudo</span>
            <span class="username">Date</span>
          </div>
        </div>
        <div class="FacebookCard-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat tortor vel laoreet elementum. Vestibulum ante ipsum primis in sed.</p>
        </div>
        <div class="FacebookCard-likeCount">
          <span>
           <i class="fa fa-thumbs-up"></i>1,1k
          </span>
        </div>
        <div class="FacebookCard-action">
          <a href="#"><i class="fa fa-thumbs-up"></i>Like</a>
          <a href="#"><i class="fa fa-comment"></i>Comment</a>
          <a href="#"><i class="fa fa-share"></i>Share</a>
        </div>
        <div class="FacebookCard-status">
          <div class="FacebookCard-likes"><!--v-if someone like--></div>
          <div class="FacebookCard-comments"><!--v-if someone comment + v-for--></div>
          <div class="FacebookCard-your-comment row">
            <div class="col s2">
              <img src="http://lorempixel.com/50/50">
            </div>
            <div class="input-field col s10">
              <textarea id="your-comment" placeholder="Your comment..." type="text" class="FacebookCard-comment-content materialize-textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FacebookCard'
  }
</script>

<style scoped>
  .FacebookCard {
    min-height: 180px;
  }
  .FacebookCard .col {
    padding: 0;
  }
  .FacebookCard-horizontal {
    margin: 5px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px
  }
  .FacebookCard-title {
    display: flex;
  }
  .FacebookCard-title img {
    margin-left: 1em;
    margin-top: 1em;
    width: 48px;
    height: 48px;
  }

  .FacebookCard-title .post-user-info{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.75em 0 0 0.75em;
    font-size: 14px;
  }

  .FacebookCard-title .pseudo {
    color: #14171a;
    font-weight: bold;
    line-height: 25px;
  }
  .FacebookCard-title .username {
    margin-left: 0.5em;
    color: #657786;
  }

  .FacebookCard-title .username, .FacebookCard-title .pseudo{
    display: block;
  }

  .FacebookCard-title .username:hover, .FacebookCard-title .pseudo:hover{
    cursor: pointer ;
  }

  .FacebookCard-content {
    margin: 1em;
  }
  .FacebookCard-likeCount{
    margin: 0 0 10px 0;
  }
  .FacebookCard-likeCount span{
    margin: 0 0 0 15px;
  }
  .FacebookCard-likeCount span i{
    font-size: 1.2em;
    color: #365899;
  }
  .FacebookCard-action {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(224, 224, 224, 0.2);
  }
  .FacebookCard-action a {
    line-height: 40px;
    color: #4b4f56;
    cursor: pointer;
  }
  .FacebookCard-action a:hover {
    text-decoration: underline;
  }
  .FacebookCard-action i{
    margin-right: 5px;
  }
  .FacebookCard-status{
    background-color: #f6f7f9;
    padding:12px 9px;
  }
  .FacebookCard-your-comment img{
    display: inline-block;
    width: 32px;
  }
  .FacebookCard-your-comment.row{
    margin-bottom: 0;
  }
  .FacebookCard-your-comment textarea {
    background-color: white;
    border: 1px solid #9e9e9e;
    height: 32px;
    margin-bottom: 0;
  }
  .input-field{
    margin-top: 0;
    padding-top: 0;
  }
  textarea.materialize-textarea{
    padding: 0;
  }
</style>
