<template>
  <div class="InstagramCard">
    <div class="col s12">
      <div class="InstagramCard-horizontal">
        <div class="InstagramCard-title">
          <img src="http://lorempixel.com/50/50">
          <div class="post-user-info">
            <span class="pseudo">Pseudo</span>
            <span class="location">Lieu</span>
          </div>
        </div>
        <div class="InstagramCard-image">
          <img src="https://www.thoiry.net/sites/default/files/styles/cbox/public/fa-galerie/grand%20sourir%20panda.jpg?itok=BzujGJnQ" />
        </div>
        <div class="InstagramCard-action">
          <a href="#"><i class="fa fa-heart-o fa-2x"></i></a>
          <a href="#"><i class="fa fa-comment-o fa-2x"></i></a>
        </div>
        <div class="InstagramCard-status">
          <div class="InstagramCard-likes"><!--v-if someone like--></div>
          <div class="InstagramCard-comments"><!--v-if someone comment + v-for--></div>
          <div class="InstagramCard-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat tortor vel laoreet elementum. Vestibulum ante ipsum primis in sed.</p>
          </div>
          <div class="InstagramCard-date">
            <span class="date">Date</span>
          </div>
          <div class="InstagramCard-your-comment row">
            <div class="input-field col s10">
              <textarea id="your-comment" placeholder="Your comment..." type="text" class="InstagramCard-comment-content materialize-textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InstagramCard'
  }
</script>

<style scoped>
  .InstagramCard {
    min-height: 180px;
  }
  .InstagramCard .col {
    padding: 0;
  }
  .InstagramCard-horizontal {
    margin: 5px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px
  }
  .InstagramCard-title {
    display: flex;
    margin-bottom: 1em;
  }
  .InstagramCard-title img {
    border-radius: 50%;
    margin-left: 1em;
    margin-top: 1em;
    width: 48px;
    height: 48px;
  }

  .InstagramCard-title .post-user-info{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.75em 0 0 0.75em;
    font-size: 14px;
  }

  .InstagramCard-title .pseudo {
    color: #14171a;
    font-weight: bold;
    line-height: 25px;
  }

  .InstagramCard-title .pseudo{
    display: block;
  }

  .InstagramCard-title .pseudo:hover{
    cursor: pointer ;
  }

  .InstagramCard-image img {
    width: 320px;
  }

  .InstagramCard-content {
    margin: 1em;
  }

  .InstagramCard-action {
    margin-left: 10px;
    min-height: 50px;
    flex-direction: row;
    border-top: 1px solid rgba(224, 224, 224, 0.2);
  }

  .fa {
    margin-top: 10px;
  }

  .InstagramCard-action a {
    line-height: 40px;
    color: #4b4f56;
    cursor: pointer;
  }
  .InstagramCard-action a:hover {
    text-decoration: underline;
  }
  .InstagramCard-action i{
    margin-right: 5px;
  }
  .InstagramCard-status{
    background-color: #f6f7f9;
    padding:12px 9px;
  }
  .InstagramCard-your-comment img{
    display: inline-block;
    width: 32px;
  }
  .InstagramCard-your-comment.row{
    margin-bottom: 0;
  }

  .InstagramCard-date {
    color: grey;
  }

  .InstagramCard-your-comment textarea {
    background-color: white;
    border: 1px solid #9e9e9e;
    height: 32px;
    margin-bottom: 0;
    margin-top: 10px;
    width: 305px;
  }
  .input-field{
    margin-top: 0;
    padding-top: 0;
  }
  textarea.materialize-textarea{
    padding: 0;
  }
</style>
