<template>
  <div class="ListCard">
    <div class="row">
      <div class="col s12">
        <div class="ListCard-container grey lighten-5">
          <div class="ListCard-top-bar"></div>
          <p class="ListCard-title">{{objectRs.name}}</p>
          <div class="ListCard-content">
            <twitter-card
              v-for="item in items"
              :key="item.name"
              v-if="isTwitterAccount"
            ></twitter-card>
            <facebook-card
              v-for="item in items"
              :key="item.name"
              v-if="isFacebookAccount"
            ></facebook-card>
            <instagram-card
                    v-for="item in items"
                    :key="item.name"
                    v-if="isInstagramAccount"
            ></instagram-card>
          </div>
          <div class="ListCard-action">
            <div class=" center-align">
              <button class="ListCard-view-more-button waves-effect waves-light btn">
                View more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import TwitterCard from './TwitterCard'
  import FacebookCard from './FacebookCard'
  import InstagramCard from './InstagramCard'

  export default {
    name: 'ListCard',
    components: {
      TwitterCard,
      FacebookCard,
      InstagramCard
    },
    props: [
      'objectRs'
    ],
    data () {
      return {
        items: {
          toto: {
            name: 'toto'
          },
          tata: {
            name: 'tata'
          },
          titi: {
            name: 'titi'
          },
          tutu: {
            name: 'tutu'
          },
          tete: {
            name: 'tete'
          },
          tyty: {
            name: 'tyty'
          }
        }
      }
    },
    computed: {
      isFacebookAccount () {
        return this.objectRs.type === 'facebook'
      },
      isTwitterAccount () {
        return this.objectRs.type === 'twitter'
      },
      isInstagramAccount () {
        return this.objectRs.type === 'instagram'
      }
    },
    methods: {
      getPosts () {
        switch (this.objectRs.type) {
          case 'twitter':
            console.log('nothing')
        }
      }
    },
    created () {
      this.getPosts()
    }
  }
</script>

<style scoped>
  .ListCard {
    min-height: 100vh;
    max-height: 100vh;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0.5em;
    /** */
    width: 350px;
    display: inline-block;
    white-space: normal;
  }
  .ListCard-top-bar {
    height: 0.4em;
    background-color: #2196F3;
  }
  .ListCard .row {
    margin-bottom: 0px!important;
    max-height: 100vh;
  }
  .ListCard .row .col {
    padding: 0;
    max-height: 100vh;
  }
  .ListCard-container{
    max-height: 100vh;
  }
  .ListCard-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    font-size: 20px;
  }
  .ListCard-content {
    overflow-y: scroll;
    max-height: 100vh;
  }
  .ListCard-action {
    padding: 1em 0 1em 0;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
  }
  .ListCard-action .row {
    margin-bottom: 0;
  }
</style>
