<template>
  <div class="TwitterCard">
    <div class="col s12">
      <div class="TwitterCard-horizontal">
        <div class="TwitterCard-title">
          <img src="http://lorempixel.com/50/50">
          <div class="post-user-info">
            <span class="pseudo">Pseudo</span><span class="username">@username</span>
          </div>
        </div>
        <div class="TwitterCard-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat tortor vel laoreet elementum. Vestibulum ante ipsum primis in sed.</p>
        </div>
        <div class="TwitterCard-action">
          <a class="icon-reply" href="#" @click="replyTwitter"><i class="fa fa-mail-reply"></i>2</a>
          <a class="icon-retweet" href="#" @click="retweetTwitter"><i class="fa fa-retweet"></i>100</a>
          <a class="icon-heart" href="#" @click="likeTwitter"><i class="fa fa-heart"></i>105</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TwitterCard',
    methods: {
      likeTwitter () {
        console.log('Like twitter action')
      },
      retweetTwitter () {
        console.log('RT twitter action')
      },
      replyTwitter () {
        console.log('Reply twitter action')
      }
    }
  }
</script>

<style scoped>
  .TwitterCard {
    min-height: 180px;
  }
  .TwitterCard .col {
    padding: 0;
  }
  .TwitterCard-horizontal {
    margin: 5px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px
  }
  .TwitterCard-title {
    display: flex;
  }
  .TwitterCard-title img {
    margin-left: 1em;
    margin-top: 1em;
    width: 48px;
    height: 48px;
    border-radius: 10%;
  }

  .TwitterCard-title .post-user-info{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.75em 0 0 0.75em;
    line-height: 50px;
    font-size: 14px;
  }

  .TwitterCard-title .pseudo {
    color: #14171a;
    font-weight: bold;
  }
  .TwitterCard-title .username {
    margin-left: 0.5em;
    color: #657786;
  }

  .TwitterCard-title .username:hover, .TwitterCard-title .pseudo:hover{
    cursor: pointer ;
  }

  .TwitterCard-content {
    margin: 1em;
  }
  .TwitterCard-action {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(224, 224, 224, 0.2);
  }
  .TwitterCard-action a {
    line-height: 40px;
    color: #e0e0e0;
    cursor: pointer;
  }
  .TwitterCard .icon-reply:hover {
    color: #039be5;
  }
  .TwitterCard .icon-retweet:hover {
    color: #00c853;
  }
  .TwitterCard .icon-heart:hover {
    color: #d50000;
  }
  .TwitterCard .icon-heart i, .TwitterCard .icon-reply i, .TwitterCard .icon-retweet i{
    margin-right: 4px;
  }

</style>
