<template>
  <div id="app">
    <add-social-network-modal></add-social-network-modal>
    <create-post-modal></create-post-modal>

    <div class="Layout">
      <div class="row">
        <navigation></navigation>
        <board></board>
      </div>
    </div>
  </div>
</template>

<script>
  import AddSocialNetworkModal from '../Modals/AddSocialNetworkModal'
  import CreatePostModal from '../Modals/CreatePostModal'
  import Navigation from '../Blocks/Navigation'
  import Board from '../Board/Board'

  export default {
    name: 'Layout',
    components: {
      AddSocialNetworkModal,
      CreatePostModal,
      Navigation,
      Board
    }
  }
</script>

<style scoped>
  .Layout {
    min-height: 100vh;
  }
  .Layout .row {
    min-height: 100vh;
    margin-bottom: 0px!important;
  }
</style>
