<template>
  <div class="Navigation">
    <ul class="side-nav fixed" id="halfscreen">
      <li v-for="socialNetwork in userSocialNetworks">
        <a href="#" class="waves-effect waves-teal left-align">
          <i :class="socialNetwork.icon" class="fa" aria-hidden="true"></i><span class="socialNetworkName">{{ socialNetwork.name }}</span>
        </a>
      </li>
      <li class="teal lighten-2 ">
        <a href="#" class="waves-effect waves-teal left-align" @click="addSocialNetwork">
          <i class="fa fa-plus white-text" aria-hidden="true"></i><span class="socialNetworkName white-text"> Add </span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import { TOGGLE_ADD_SOCIAL_NETWORK_MODAL } from '../../store/modules/modals/types'

  export default {
    name: 'Navigation',
    computed: {
      userSocialNetworks () {
        return this.$store.state.user.currentUser.social_networks
      }
    },
    methods: {
      addSocialNetwork () {
        this.$store.commit(TOGGLE_ADD_SOCIAL_NETWORK_MODAL)
      }
    }
  }
</script>

<style scoped>

  #halfscreen{
    min-height: 100vh;
    width: 60px;
    overflow: hidden;
    display: block;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
  }

  #halfscreen:hover, #halfscreen:focus{
    width: 240px;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
  }

  #halfscreen a{
    font-size: 1.2rem;
    padding-left: 24px;
  }

  #halfscreen span{
    position: absolute;
    left: 40px!important;
  }

  .socialNetworkName{
    margin-left: 20px;
  }
  
</style>
